<h1> New </h1>
<% if @post.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@post.errors.count, "error") %> prohibited this post from being created:</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@post) do |f|%>
<label>Title:</label><br>
<%= f.text_field :title%><br>
<label>Content:</label><br>
<%= f.text_area :content%><br>
<label>Which blogger is writing this post? </label><br>
<%= f.collection_select :blogger_id, Blogger.all, :id, :name%><br>
<label>Which destination is this post written about? </label><br>
<%= f.collection_select :destination_id, Destination.all, :id, :name%><br>
<%= f.submit%>
<%end%>